/* styling for Riverview Website */
/* Sass Document */
/* Sass Setup */
/* reset */
html, body, img, ul, li, ol, h1, h2, h3, h4, h5, h6, div {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-family: "Open Sans", Arial, Helvetica, sans-serif; }

body {
  min-width: 280px;
  background: #000;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#000, #fff);
  /* For Safari */
  background: -moz-linear-gradient(#000, #fff);
  /* For Firefox */
  background: -o-linear-gradient(#000, #fff);
  /* For Opera */
  background: linear-gradient(#000, #fff);
  /* For Chrome */
  background: url(../images/riverview_bg_img.jpg) no-repeat scroll;
  background-position: center top;
  background-repeat: no-repeat;
  position: absolute;
  width: 100%;
  height: 100%; }

h1 {
  font-family: "Times New Roman", Times, serif; }

h2, h3 {
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: lighter;
  line-height: 1.3em;
  letter-spacing: -1.5px;
  color: #7c7b7b; }

p {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  line-height: 1.3em; }

nav h1 {
  color: black;
  font-style: italic;
  line-height: .8;
  margin-top: -5px;
  margin-left: 10px; }
nav span {
  color: black;
  text-transform: uppercase;
  font-size: .8em; }
nav li {
  font-size: 16px; }

.home_page .jumbotron {
  background-color: transparent; }

.home_page .jumbotron p {
  font-weight: bold;
  color: #ddd;
  text-shadow: 1px 1px 5px #000; }

form input {
  width: 100%; }
form textarea {
  width: 100%; }
form .submit {
  width: 100px; }
