@charset "utf-8";
/* styling for Riverview Website */
/* Sass Document */

/* Sass Setup */
$font_heading_1: "Times New Roman", Times, serif;
$font_sub_headings: "Open Sans Condensed", sans-serif;
$font_paragraphs: "Open Sans", Arial, Helvetica, sans-serif;
$bg_color: #fff;
$text_color: black;
$radius: 10px;

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

/* reset */
html, body, img, ul, li, ol, h1, h2, h3, h4, h5, h6, div {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-family: $font_paragraphs;
}

body {
	min-width: 280px;
	background: #000; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#000, #fff); /* For Safari */
    background: -moz-linear-gradient(#000, #fff); /* For Firefox */
    background: -o-linear-gradient(#000, #fff); /* For Opera */
    background: linear-gradient(#000, #fff); /* For Chrome */
	background: url(../images/riverview_bg_img.jpg) no-repeat scroll;
    background-position: center top;
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
    height: 100%;
}

h1 {
	font-family: $font_heading_1;
}



h2, h3 {
	font-family: $font_sub_headings;
	font-weight: lighter;
	line-height: 1.3em;
	letter-spacing: -1.5px;
	color: #7c7b7b;
}


p {
	font-family: $font_paragraphs;
	line-height: 1.3em;
}

nav {
	h1 {
		color: $text_color;
		font-style: italic;
		line-height: .8;
		margin-top: -5px;
		margin-left: 10px;
	}
	
	span {
		color: $text_color;
		text-transform: uppercase;
		font-size: .8em;
	}
	
	li {
		font-size: 16px;
	}
}

.home_page {
	.jumbotron {
		background-color: transparent;
	}
}

@media (max-width: 600px) {
  .home_page {
	  .jumbotron {
		  font-weight: bold;
	  }
  }
}

form {
	input {
		width: 100%;
	}
	
	textarea {
		width: 100%;
	}
	
	.submit {
		width: 100px;
	}
}